sessions: 2                         # number of sessions
global_mean: 1                      # global mean type (1: Standard 2: User-defined mask)
global_threshold: 9.0               # threhsolds for outlier detection
motion_threshold: 2.0
motion_file_type: 0                 # motion file type (0: SPM .txt file 1: FSL .par file 2:Siemens .txt file)
motion_fname_from_image_fname: 0    # 1/0: derive motion filename from data filename
spm_file: ./2back/2bmodel/SPM.mat   # location of SPM.mat file (comment this line if you do not wish to estimate number of outliers per condition)
image_dir: ./2back/                 # functional and movement data folders (comment these lines if functional/movement filenames below contain full path information)
motion_dir: ./2back/                
end

# Functional data file(s) for each session 
# example use:
# session 1 image file01.img file02.img file03.img file04.img file05.img file06.img     # selects specific .img files
# session 1 image file??.img    # selects multiple .img files (?? refers to two-digit numbers with zero-padding to the left)
# session 1 image file.nii      # selects single 4-d .nii file

session 1 image 2brun1/2brun1_???.img 
session 2 image 2brun2/2brun2_???.img 

# Movement file for each session (comment if motion_fname_from_image_fname is set to 1)

session 1 motion 2brun1/rp_2brun1_001.txt 
session 2 motion 2brun2/rp_2brun2_001.txt

end
